ios/*
node_modules/*

# IDEA
.idea/
android/local.properties
android/app/build/
android/.idea/
android/*.iml
android/.gradle/*android/app/app.iml
android/app/app.iml

# VSCode
.vscode/
android/.project
android/.settings/
android/app/.classpath
android/app/.project
android/app/.settings/


# CocoaPods
/ios/Pods/


# Ignore gradle files
.gradle/
build/